body {
	background-color: #fff;
}
#hpMainNav .navbar-nav .nav-item .nav-link:hover {
	color: #EF4035!important;
	border-radius: 5px!important;
	background-color: white!important;
}
section {
	padding: 50px 0;
}
.servico-conteudo {
	padding-bottom: 80px;
}
.servico-conteudo.servico-conteudo-padding {
	padding-top: 150px;
}
.ul-catalogo {
	list-style-type: none;
}
.img-catalogo {
	width: 180px;
	height: 144px;
	border-radius: 10px;
	margin-top: 30px;
}