body, html {
	height: 100%;
	font-size: 14px;
}
body {
	overflow-x: hidden;
	font-family: 'Roboto Slab','Helvetica Neue',Helvetica,Arial,sans-serif;
	color: #818181;
	-webkit-tap-highlight-color: #fed136
}
.bg-grey {
	background-color: #f6f6f6;
}
a {
	color: #fed136;
	transition: all 0.5s;
}
a:-webkit-any-link {
	cursor: auto;
}
a:hover {
	text-decoration: none;
}
li {
	display: list-item;
	text-align: -webkit-match-parent;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
	color: #212529;
}
section {
	padding: 100px 0;
}
#hpMainNav {
	background-color: #212529;
	margin-bottom: 0;
	border-radius: 0;
}
#hpNavbar {
	padding-top: 2px;
	padding-bottom: 2px;
}
#hpMainNav .navbar-brand {
	color: #fed136;
	font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}
#hpMainNav .navbar-nav .nav-item .nav-link {
	font-size: 90%;
	font-weight: 400px;
	padding: .75em 0;
	letter-spacing: 1px;
	color: #fff;
	font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
#hpMainNav .navbar-nav .nav-item.active .nav-link, #hpMainNav .navbar-nav .nav-item .nav-link:hover {
	color: #EF4035;
	border-radius: 5px;
	background-color: white;
}
.img-logo {
	width: 98px;
	height: 35px;
	margin-top: 8px;
}
.img-logo-compacto {
	width: 98px;
	height: 35px;
	margin-top: 8px;
}
.link-img-logo {
	padding: 0 15px;
}
.intro-saudacao {
	font-size: 1em;
	font-style: italic;
	line-height: 40px;
	margin-bottom: 25px;
	font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.saudacao-cabecalho {
	font-size: 1em;
	font-weight: 700;
	line-height: 40px;
	margin-bottom: 25px;
	font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.btn.btn-up {
	display: none;
	transition: display 3s;
	position: fixed;
	left: auto;
	right: 0;
	top: auto;
	bottom: 0;
	color: #fff;
	background-color: #383838;
	border-color: #040404;
	font-size: 20px;
	text-align: center;
	padding: 0;
	height: 38px;
	width: 38px;
	line-height: 34px;
	border-radius: 2px;
	margin-bottom: 1em;
	margin-right: 1em;
	opacity: 0.8;
}
.titulo-secao {
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 15px;	
}
.subtitulo-secao {
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	margin-bottom: 75px;
	text-transform: none;
	font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.titulo-servico {
	margin-top: 15px;
	margin-bottom: 50px;
	text-transform: none;
}
.img-servicos {
	width: 250px;
	height: 200px;
	border: 10px solid rgba(166, 166, 166, 0.2);
}
.img-servicos:hover {
	border: 10px solid rgba(166, 166, 166, 0.5);
}
#televendas * {
	z-index: 2;
}
.televendas-link img {
	max-width: 400px;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
#televendas .televendas-item{
	right: 0;
	margin: 0 0 15px
}
#televendas .televendas-item .televendas-link{
	position: relative;
	display: block;
	max-width: 400px;
	margin: 0 auto;
	cursor: pointer
}
.icon-3x {
	font-size: 3em!important;
}
#televendas .televendas-item .televendas-link .televendas-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all ease .5s;
	opacity: 0;
	background: rgba(0,0,0,.7);
}
#televendas .televendas-item .televendas-link .televendas-hover:hover {
	opacity: 1;
}
#televendas .televendas-item .televendas-link .televendas-hover .televendas-hover-content {
	font-size: 20px;
	position: absolute;
	top: 50%;
	width: 100%;
	height: 20px;
	margin-top: -12px;
	text-align: center;
	color: #fff;
}
#televendas .televendas-item .televendas-link .televendas-hover .televendas-hover-content i {
	margin-top: -12px;
}
#televendas .televendas-item .televendas-link .televendas-hover .televendas-hover-content p {
	font-size: 0.7em;
}
.slideanim {visibility:hidden;}
.slideElement {
	animation-name: slide;
	-webkit-animation-name: slide;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	visibility: visible;
}
#contato {
	background-color: #8c8c8c;
	background-image: url(../img/map-world-image.png);
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
}
#contato h2 {
	color: #fff;
}
#contatoForm {
	margin-top: 50px;
}
#contato .controls {
	position: relative;
	margin-bottom: 0;
	padding-bottom: 0.5em;
	border-top: 1px solid #e1e1e1;
}
#contato .control-textarea {
	position: relative;
	margin-bottom: 0;
	padding-bottom: 0.5em;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}
#sobre-nos, #contato {
	padding: 60px 50px;
}
#contato .input-hp {
	z-index: 1;
	position: relative;
	padding: 25px 0;
	border: none;
	border-radius: 0;
	font-size: 1.5em;
	background: none;
	box-shadow: none !important;
	resize: none;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	color: #fff;
}
#contato .input-hp::placeholder {
	color: #e6e6e6;
}
.btn-contato, .btn-portfolio {
	border-radius: 0;
	border: solid 1px black;
	color: white;
	border-color: #EF4035;
	background-color: #EF4035;
	margin-top: 10px;
}
.logo {
	color: blue;
	font-size: 200px;
	padding-left: 20%;
}
#carouselDepoimentos .carousel-control.right, #carouselDepoimentos .carousel-control.left {
	background-image: none;
	color: #383838;
	opacity: 0.2;
}
#carouselDepoimentos .carousel-indicators li {
	border-color: #040404;
}
#carouselDepoimentos .carousel-indicators li.active {
	background-color: #383838;
}
#carouselDepoimentos .item h4 {
	font-size: 1em;
	line-height: 1.375em;
	font-weight: 400;
	font-style: italic;
	margin: 70px 0;
}
#carouselDepoimentos .item span {
	font-style: normal;
}
.container-maps {
	padding: 100px 50px;
}
.container-maps .nav-stacked li {
	padding: 15px 10px;
}
.container-maps .nav-stacked li:hover {
	background-color: #e6e6e6;
	border-radius: 10px;
}
.container-maps .nav-stacked li a {
	color: #595959;
}
.container-maps .nav-stacked li a:hover {
	color: #000;
}
.container-maps .nav-stacked li a .unidade-email-maps {
	margin-left: 10%;
}
.hp-footer {
	text-align: center;
	background: #212733;
	color: #fff;
	line-height: 30px;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-size: 14px;
}
.hp-footer a {
	color: #ccc;
	text-decoration: none;
}
.hp-footer .hp-creditos {
	line-height: 38px;
	margin: 0;
}
.hp-footer ul {
	list-style: none;
}
.hp-footer ul, .hp-footer li {
	padding: 0;
	margin: 0;
	cursor: pointer;
}
.hp-footer li {
	display: table-cell;
	vertical-align: middle;
	height: 40px;
	width: 40px;
	text-align: center;
	transition: background .5s ease-in-out;
	float: left;
	list-style: none;
}
.hp-footer .social li:last-child, .hp-footer .social {
	margin-right: 0 !important;
	line-height: 30px;
}
.social-icons-footer {
	display: inline-block;
	float: none;
}
.social i {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 38px;
	padding-top: 0;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	color: #fff;
	transition: color .5s ease-in-out;
}
.text-direito-footer {
	display: none;
}
.text-red {
	color: #EF4035 !important;
}
@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(70%);
	} 
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	} 
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}

@media (min-width: 992px) {
	#hpMainNav {
		padding-top: 25px;
		padding-bottom: 25px;
		transition: padding-top .3s,padding-bottom .3s;
		border: none;
		background-color: #212529;
		opacity: 0.9;
	}
	#hpMainNav .navbar-brand {
		font-size: 1.75em;
		transition: all .3s;
	}
	#hpMainNav .navbar-nav .nav-item .nav-link {
		padding: 1.1em 1em!important;
		font-size: 90%;
		font-weight: 600;
		letter-spacing: 1px;
		color: #fff;
		font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
	}
	#hpMainNav.menu-compacto {
		padding-top: 0px;
		padding-bottom: 0px;
		background-color: #212529;
		opacity: 0.9;
	}
	#hpMainNav.menu-compacto .navbar-brand {
		font-size: 1.25em;
		padding: 12px 0;
	}
	.img-logo {
		width: 200px;
		height: 70px;
		margin-top: 0;
	}
	.img-logo-compacto {
		margin-top: 0;
	}
	section {
		padding: 150px 0;
	}
	.intro-saudacao {
		font-size: 40px;
	}
	.saudacao-cabecalho {
		font-size: 50px;
		line-height: 75px;
		margin-bottom: 50px;
	}
	#carouselDepoimentos .item h4 {
		font-size: 19px;
	}
	#carouselDepoimentos .carousel-control.right, #carouselDepoimentos .carousel-control.left {
		opacity: 1;
	}
	#contatoForm {
		margin-top: 0;
	}
	.btn-portfolio {
		border-radius: 0;
		border: solid 1px black;
		color: black;
		background-color: transparent;
		margin-top: 10px;
	}
	.btn-contato {
		border-radius: 0;
		border: solid 1px #fff;
		color: #fff;
		background-color: transparent;
		margin-top: 10px;
	}
	.btn-contato:hover, .btn-portfolio:hover {
		color: white;
		border-color: #EF4035;
		background-color: #EF4035;
	}
	.hp-footer {
		text-align: left;
	}
	.hp-footer li {
		height: 40px;
		border-right: 1px solid #414f5a !important;
	}
	.hp-footer .social li:first-child {
		border-left: 1px solid #414f5a;
	}
	.social-icons-footer {
		float: right;
	}
	.text-direito-footer {
		display: inline-block;
	}
}
@media (min-width: 425px) and (max-width: 991px) {
	.intro-saudacao, .saudacao-cabecalho {
		font-size: 2em;
		line-height: 40px;
		margin-bottom: 25px;
	}
	#carouselDepoimentos .carousel-control.right, #carouselDepoimentos .carousel-control.left {
		opacity: 1;
	}
}
@media (max-width: 767px) {
	.navbar-nav>li>a {
		margin-left: 10px;
	}
	.logo {
		display: none;
	}
}
@media (max-width: 992px) {
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}
}
