.portfolio-modal {
	padding-right: 0!important;
	font-size: 1.2em;
	font-weight: 400;
	color: #212529;
}
.portfolio-modal .modal-dialog {
	margin: 1rem;
	width: 98%;
}
.portfolio-modal .modal-content {
	padding: 100px 0;
	text-align: center;
}
.portfolio-modal .close-modal {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	cursor: pointer;
	background-color: transparent;
}
.portfolio-modal .close-modal .lr {
	z-index: 1051;
	width: 1px;
	height: 75px;
	margin-left: 35px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: #212529;
}
.portfolio-modal .close-modal .lr .rl {
	z-index: 1052;
	width: 1px;
	height: 75px;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	background-color: #212529;
}
.portfolio-modal .modal-text {
	width: 70%;
	margin: 0 auto;
}
.portfolio-modal .modal-list-item {
	display: block;
	padding: 5px;
}
.modal-container {
	width: 100%;
	margin: 0 auto;
}
.portfolio-modal .modal-content h2 {
	font-size: 3em;
	margin-bottom: 15px;
}
p {
	line-height: 1.75;
}
.portfolio-modal .modal-content p.item-intro {
	font-size: 16px;
	font-style: italic;
	margin: 20px 0 30px;
	font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.portfolio-modal .modal-content p {
	margin-bottom: 30px;
}
.portfolio-modal .modal-content img {
	display: inline;
	margin-bottom: 30px;
}
.portfolio-modal .modal-content ul.list-inline {
	margin-top: 0;
	margin-bottom: 30px;
}
.portfolio-modal .modal-content button {
	cursor: pointer;
}
.btn {
	font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 700;
}