.parallax-1 {
	/* The image used */
	background-image: url("../img/img-parallax.jpg");

	/* Full height */
	height: 60%; 

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}